body {
    /* background: #352f5b; */
    background: #0b8caf;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(96, 18, 133, 0.842);
    max-width: 400px;
    cursor: pointer;
}

.todos li {
    background: #c1bfc7;
    color: rgb(3, 3, 3);
}

.delete {
    cursor: pointer;
}